.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.toRight {
    padding-right: 40px;
    text-align: right;
}
.headmenu td {width: 337px;}

.headbutton0 {
    width: 80px;
    display: inline-block;
    font-family: Futura Md BT, Arial, sans-serif;
    border: 1px solid #000;
    border-radius: 50px;
    background: #12d151;
    text-align: center;
    height: 35px;
    line-height: 32px;
}
.headbutton0:hover {
    background: #15e158;
    color: #fff;
}

.headbutton2 {
    font-family: Futura Md BT, Arial, sans-serif;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    background: linear-gradient(#fff, rgba(4, 4, 4, 0.29));
    vertical-align: 100%;
    text-align: center;
    height: 30px;
    line-height: 26px;
    transition: color .2s;
}
.headbutton2:hover {
    background-image: linear-gradient(to bottom, #fff, #e3e3e3);
    color: #12d151;
}
.main {
    z-index: 0;
    background-attachment: fixed;
    background-size: 100%;
    background-image: url("images/mainBackground.png");
}
.content {
    z-index: 1;
    padding-bottom: 1000px;
    background: #ffffff;
    margin-left: 80px;
    margin-right: 80px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.bottom {
    border-top: 2px solid #000;
    padding-bottom: 80px;
    width: 100%;
}
.bottom table {
    margin: auto;
    border: 1px solid #000;
    width: 500px;
}
.bottom td{
    /*margin-right: 50px;*/
    /*text-align: center;*/
    /*width: 50px;*/
    border: 1px solid #000;
}

table {width: 100%;}
a { text-decoration: none; }
a:link,
a:visited { color: #000; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
